body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    /* grid-auto-rows: minmax(150px, auto); */
    /* grid-template-columns:  */
    grid-auto-rows: min-content;
    height:100%;
    background: #f3f3f3;
    border-radius: 70px;
    color: #cec655;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder.headline {
    text-align: center;
    font-size: -webkit-xxx-large;
}

.entry{
    background: rgba(59, 74, 107, .4);
    border-radius: 20px;
    padding: 20px;

}

#entryHolder{
    line-height: 2em;
}

.title{
    font-size: xx-large;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 20px;
    color: #444;
    
}

input{
    display:block;
    height: 50px;
    width: 320px;
    background: #ffffff;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding: 20px;
}

button{
    /* width: 400px;
    height: 100px; */
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#fff;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    height:120px;
    padding: 20px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: dimgrey; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 